# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Celerybeat scheduler file:
celerybeat-schedule

.idea
.htaccess


# Editor temp files:
*.sw[po]
*~

# ignore ctags files
tags

# python notebook files
*ipynb*

# Vim Rope plug in
*.ropeproject*

*.pyc
